* {
    margin: 0;
    padding: 0;
}

:root {
    --main-font: Rubik, sans-serif;
    --main-color: white;
    --main-second-color: black;
    --main-background-color: #c8693a;
    --hover-color: #ba5421;
    --background-page-color: #261e1c;
    --background-icon-color: #342e2e;
    --background-footer-color: rgb(27, 22, 19);
    --p-color: #898082;
    --font-h: Prata, serif;
    --font-great-vibes: Great Vibes;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--main-color);
    font-family: var(--main-font);
    text-decoration: none;
}

a {
    scroll-behavior: smooth;
}

header {
    display: flex;
    color: var(--main-color);
    background: rgba(0, 0, 0, 0.5);
    flex: 1;
    justify-content: space-around;
    max-width: 100%;
    min-height: 100px;
}

nav {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

nav .icon-social {
    width: 2vw;
    height: 4vh;
    margin: 0vh 10px;
    fill: var(--main-background-color);
    transition: 0.3s;
}

.header-items {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0px 25vw 0px 0px;
}

.logo-element {
    width: 176px;
    height: auto;
}

.nav-element {
    text-decoration: none;
    color: var(--main-color);
    margin: 0px 7px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.nav-element:hover {
    color: var(--hover-color);
}

.page-first {
    background-image: url(../img/background-first-page.jpg);
    max-width: 100%;
    height: 120vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    justify-content: flex-end;
    margin: 210px 190px 0px 0px;
}

h5 {
    font-family: var(--font-great-vibes);
    font-size: 28px;
    font-weight: 400;
    color: var(--main-background-color);
}

h2 {
    font-size: 48px;
    font-family: var(--font-h);
    font-weight: 400;
}

main p {
    font-family: var(--main-font);
    font-size: 16px;
}

article p,
h1,
img,
.pin-items {
    padding: 12px 0px;
}

article p {
    font-size: 18px;
}

.text-decorative {
    font-size: 28px;
}

h1 {
    font-size: 84px;
    font-family: var(--font-h);
    font-style: normal;
    font-weight: 400;
}

.container hr {
    width: 40px;
    border: 1px solid var(--main-background-color);
    background-color: var(--main-background-color);
}

.pin-items {
    display: flex;
    font-size: 15px;
    align-items: center;
    margin: 15px 0px 0px 0px;
    font-size: 15px;
}

.pin-items-element-shop {
    font-weight: 600;
    background-color: var(--main-background-color);
    width: 9vw;
    height: 50px;
    text-align: center;
    line-height: 45px;
    cursor: default;
    transition: 0.5s;
    border-radius: 1%;
}

.pin-items-element-shop:hover {
    background-color: var(--hover-color);
}

.pin-items-element-learn {
    font-weight: 600;
    margin: 0px 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid var(--main-color);
    width: 10vw;
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: default;
    transition: 0.5s;
}

.pin-items-element-learn:hover {
    background-color: var(--main-color);
    color: var(--main-second-color);
}

.page-second {
    background-color: var(--background-page-color);
    max-width: 100%;
}

.wine-describes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0px 0px 0px;
}

.wine-describes-items {
    margin: 40px;
}

.wine-describes .container {
    margin: 0px 15px;
    width: 350px;
    height: 470px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.container p {
    color: var(--p-color);
}

.container h4,
p,
a {
    padding: 20px 0px;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

.container h4 {
    font-family: var(--font-h);
    font-size: 22px;
    font-weight: 400;
}

.wine-describes-special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 70px 0px;
    max-width: 100%;
}

.wine-describes-special-items {
    text-align: center;
}

.wine-describes-special-items p,
h2,
img {
    padding: 12px 0px;
}

.wine-describes-special-items h2 {
    font-size: 48px;
    font-family: var(--font-h);
    font-weight: 400;
}

.wine-describes-special-items p {
    color: var(--main-background-color);
}

.wine-describes-special-items-block {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    height: 100%;
    flex: 1;
}

.wine-describes-special-items-block-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.wine-describes-special-items-block-items-element {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.wine-describes-special-items-block-items-element .container {
    padding: 10px 20px 0px 50px;
    margin-top: 40px;
}

.wine-img {
    max-width: 420px;
    margin: 0px 0px 0px 10px;
}

.page-third {
    background-image: url(../img/page-third-background.webp);
    max-width: 100%;
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-third-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-third-items h5,
h2,
img,
p,
.pin-items {
    padding: 12px 0px;
}

.page-third-items h2 {
    font-size: 84px;
    font-family: var(--font-h);
    font-style: normal;
    font-weight: 400;
}

.page-third-items p {
    font-size: 18px;
}

.page-third-items h5 {
    color: var(--main-background-color);
    font-size: 28px;
}

.page-fourth {
    background-color: var(--background-page-color);
    max-width: 100%;
    padding: 100px 0px 0px 0px;
}

.page-fourth-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-fourth p {
    font-size: 18px;
}

.page-fourth-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.carousel-items {
    width: 80%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel-items-element {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0vw 1%;
}

.carousel-items img {
    width: 23vw;
}

.slide-noneDisplay {
    display: none;
    overflow: hidden;
    transition-timing-function: ease;
}

.carousel-items-pin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.carousel-items-element-pin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--main-background-color);
    width: 120px;
    height: 50px;
    line-height: 45px;
    cursor: default;
    transition: 0.5s;
}

.carousel-items-element-pin:hover {
    background-color: var(--hover-color);
}

.carousel-element-back,
.carousel-element-forward {
    width: 3vw;
    transition: 0.8s;
    opacity: 0.5;
}

.carousel-element-back {
    transform: rotate(180deg);
}

.carousel-element-back:hover,
.carousel-element-forward:hover {
    fill: var(--main-color);
}

.cart {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    right: 5vw;
    top: 15vh;
    z-index: 98;
}

.cart-value {
    position: absolute;
    text-align: center;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: var(--main-background-color);
    right: 0;
    top: 0;
    bottom: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.check-years {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

.check-years-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: var(--background-page-color);
    height: 60%;
}

.check-years-items h2 {
    font-size: 48px;
    font-family: var(--font-h);
    font-weight: 400;
}

.page-fifth {
    background: var(--background-page-color);
    width: 100%;
}

.page-fifth-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 18vh;
}

.page-fifth img {
    width: 80%;
}

.page-fifth-items-describes-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-fifth-items-describes {
    width: 80%;
    padding-top: 7vh;
}

.page-fifth-items-describes-element {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.page-fifth-items-describes-element h6 {
    font-size: 14px;
    color: var(--main-background-color);
    font-style: italic;
    font-weight: 400;
}

.page-fifth-items-describes-element .container {
    max-width: 16vw;
    line-height: 3.5vh;
}

.page-sixth {
    width: 100%;
    background: var(--background-page-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-sixth-items {
    display: flex;
    justify-content: center;
    padding-top: 7vh;
    flex-direction: column;
    align-items: center;
}

.page-sixth-items-wines {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-sixth-items-wines img {
    width: 18vw;
}

.page-sixth-items-wines-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 1vw;
}

.page-seventh {
    width: 100%;
    background: var(--background-page-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.page-seventh-items-wines {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40vh 0px 0px 0px;
}

.page-seventh-items-wines {
    width: 80%;
    flex: 1;
    justify-content: space-around;
}

.page-seventh-items-red-wine,
.page-seventh-items-white-wine {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 37vw;
    height: 60vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.page-seventh-items-red-wine {
    background-image: url(../img/page-seventh-red-wine.webp);
}

.page-seventh-items-white-wine {
    background-image: url(../img/page-seventh-white-wine.webp);
    margin-left: 3vw;
}

.page-seventh-items-discount {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--main-background-color);
    width: 80%;
    margin-top: 3vw;
    padding: 0;
}

.page-seventh-items-discount-element {
    position: absolute;
    margin-left: 3vw;
}

.page-seventh-items-discount-img {
    background-repeat: no-repeat;
    width: 60%;
    margin-left: 40%;
    opacity: 0.2;
}

.page-seventh-items-discount-element h2 {
    font-family: var(--font-h);
    font-size: 48px;
    font-weight: 300;
}

.page-seventh-items-discount-element p {
    font-size: 18px;
}

.page-seventh-items-white-wine .pin-items-element-shop {
    width: 70%;
    margin-top: 4vh;
}

.page-seventh-items-red-wine .pin-items-element-shop {
    width: 70%;
    margin-top: 4vh;
}

.page-seventh-items-discount-element .pin-items-element-learn {
    width: 17%;
    margin: 0;
    margin-top: 4vh;
}

.page-eight {
    background-color: var(--background-page-color);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.page-eight-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.page-eight-items h2 {
    font-family: var(--font-h);
    font-size: 41px;
}

.page-eight-view-wine {
    max-width: 400px;
    margin-top: 20vh;
}

.accordion-items {
    width: 100%;
    margin-top: 4vh;
}

.accordion-items-element {
    font-family: var(--font-h);
    font-size: 22px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vh;
    height: 10vh;
}

.accordion-items-element hr {
    margin-top: 2vh;
    opacity: 0.5;
    pointer-events: none;
}

.accordion-items-element span {
    float: left;
    pointer-events: none;
}

.accordion-icon {
    width: 15px;
    fill: var(--main-color);
    float: right;
    margin-left: 13vw;
    text-align: right;
}

.accordion-items-element span {
    transition-timing-function: cubic-bezier(0.6, 0.1, 0.15, 0.8);
    transition: 0.2s;
}

.none {
    position: absolute;
    display: none;
    color: var(--p-color);
    font-size: 16px;
    font-family: var(--main-font);
}

.page-tenth {
    background-color: var(--background-page-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15vh;
}

.describe-company-element {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.describe-company-element .container {
    max-width: 15vw;
    padding: 0vw 2vw;
    line-height: 3vh;
}

.describe-company-element svg {
    width: 2.5vw;
}

.svg-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--background-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-eleventh {
    background-color: var(--background-footer-color);
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.join-describe h2 {
    font-family: var(--font-h);
    font-size: 30px;
    font-weight: 300;
}

.join-describe p {
    font-size: 16px;
}

.page-eleventh form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-email {
    background-color: var(--background-icon-color);
    width: 19vw;
    height: 7vh;
    border: none;
    border-radius: 1px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 15px;
    padding: 0vw 2vw;
}

.pin-submit {
    background-color: var(--main-background-color);
    width: 23vw;
    height: 7vh;
    border: none;
    margin-top: 3vh;
    border-radius: 1px;
    transition: 0.5s;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 15px;
    color: var(--main-color);
}

.pin-submit:hover {
    background-color: var(--hover-color);
}

.nav-end-page {
    background-color: var(--background-footer-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 4vh;
}

.nav-end-page .container {
    margin: 0 5vw;
    font-size: 14px;
    font-weight: 500;
}

.nav-end-page h4 {
    font-family: var(--font-h);
    font-size: 22px;
}

.icon-social {
    max-width: 2vw;
    max-height: 4vh;
    margin: 0vh 10px;
    fill: var(--main-background-color);
    transition: 0.5s;
}

.icon-social:hover {
    fill: var(--background-icon-color);
}

footer {
    background-color: #130f0e;
    font-size: 14px;
    max-height: 10vh;
}

.created-by {
    float: left;
    margin-left: 10vw;
}

.reserved {
    text-align: right;
    margin-right: 10vw;
}

.nav-end-page p {
    transition: 0.5s;
}

.nav-end-page p:hover {
    color: white;
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.modal-items {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--main-second-color);
    background-color: var(--main-color);
}

.upper {
    width: 80%;
    height: 7vh;
    background-color: rgb(216, 216, 216);
    color: black;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

#Capa_1 {
    margin-top: 5px;
}

.input-form {
    min-width: 22vw;
    max-width: 22vw;
    height: 5vh;
    border: 2px solid rgb(155, 140, 140);
    padding-left: 1vw;
}

.textarea-form-big {
    min-width: 24vw;
    max-width: 24vw;
    min-height: 16vh;
    max-height: 16vh;
    text-align: start;
    border: 2px solid rgb(155, 140, 140);
    font-family: var(--main-font);
    padding-left: 1vw;
    padding-top: 1vh;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
    margin-top: 2vh;
}

.order .input-submit {
    font-weight: 600;
    font-size: 20px;
    background-color: var(--main-background-color);
    width: 10vw;
    height: 7vh;
    text-align: center;
    cursor: default;
    transition: 0.5s;
    border-radius: 1%;
    border: 1px;
    color: var(--main-color);
    margin-top: 2vh;
}

.order .input-submit:hover {
    background-color: var(--hover-color);
}

.modal-items-element {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.modal-products {
    margin-top: 2vh;
}

.modal-products-items {
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-height: 60vh;
    max-height: 60vh;
    overflow: scroll;
}

.modal-input-number {
    width: 3vw;
    height: 4vh;
    text-align: center;
    font-size: 18px;
    border: 2px solid gray;
    margin-right: 1vw;
}

.modal-img {
    width: 6vw;
    height: 12vh;
}

.modal-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
}

.modal-element h4 {}

.modal-value {
    display: flex;
    align-items: center;
}

.modal-value .price {
    margin-right: 1vw;
}

.continue {
    position: absolute;
    bottom: 0;
    margin: 0vh 0vw 10vh 2vw;
    border: 0;
    width: 3vw;
    height: 1vw;
    font-size: 18px;
    font-family: var(--main-font);
}

.total {
    margin: 2vh 0vw 0vh 2vw;
    font-size: 24px;
}

#slide-4 {
    display: none
}

.modal-svg-delete {
    position: relative;
    z-index: 99;
    width: 30px;
    height: 30px;
}

.pointer-none {
    pointer-events: none;
    position: relative;
    z-index: 1;
}

#order-result {
    display: none;
}