* {
    margin: 0;
    padding: 0;
}
:root {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","SF Pro Text";
}
body {
    background: url(../img/background-first-page.jpg);
}


header {
    display: flex;
    color: white;
    background: black;
    opacity: 70%;
    flex: 1;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

nav {
    display: flex;
    flex: 1;
    justify-content: space-around;
}
.header-items {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0px 300px 0px 0px;

}

.logo-element {
    width: 176px;
    height: auto;
}

.nav-element {
    text-decoration: none;
    color: white;
    margin: 0px 7px;
}